In [55]:
# Importowanie funkcji z pliku processed_data.py
from src.preprocess_data import preprocess_data
# Ścieżki do plików CSV
input_csv_path = "../data/raw/Chicago_Crimes_2012_to_2017.csv"
output_csv_path = "../data/processed/Chicago_Crimes_2012_to_2017_processed.csv"

# Uruchomienie funkcji przetwarzającej dane
processed_df = preprocess_data(input_csv_path, output_csv_path)

Loading raw data...
Raw data loaded successfully.
Preprocessing data...
Processed data saved to: ../data/processed/Chicago_Crimes_2012_to_2017_processed.csv
Sample of processed data:

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Latitude,Longitude,Year,Month,Day,Hour
0,10508693,HZ250496,2016-05-03 23:40:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,1022,10.0,24.0,29.0,08B,41.864073,-87.706819,2016,5,3,23
1,10508695,HZ250409,2016-05-03 21:40:00,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,313,3.0,20.0,42.0,08B,41.782922,-87.604363,2016,5,3,21
2,10508697,HZ250503,2016-05-03 23:31:00,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,1524,15.0,37.0,25.0,24,41.894908,-87.758372,2016,5,3,23
3,10508698,HZ250424,2016-05-03 22:10:00,BATTERY,SIMPLE,SIDEWALK,False,False,1532,15.0,28.0,25.0,08B,41.885687,-87.749516,2016,5,3,22
4,10508699,HZ250455,2016-05-03 22:00:00,THEFT,$500 AND UNDER,RESIDENCE,False,True,1523,15.0,28.0,25.0,06,41.886297,-87.761751,2016,5,3,22

In [56]:
# Wyświetlenie przykładowych przetworzonych danych
if processed_df is not None:
    print("Sample of processed data:")
    display(processed_df.head())
else:
    print("Data processing failed.")

Sample of processed data:

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Latitude,Longitude,Year,Month,Day,Hour
0,10508693,HZ250496,2016-05-03 23:40:00,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,1022,10.0,24.0,29.0,08B,41.864073,-87.706819,2016,5,3,23
1,10508695,HZ250409,2016-05-03 21:40:00,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,313,3.0,20.0,42.0,08B,41.782922,-87.604363,2016,5,3,21
2,10508697,HZ250503,2016-05-03 23:31:00,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,False,1524,15.0,37.0,25.0,24,41.894908,-87.758372,2016,5,3,23
3,10508698,HZ250424,2016-05-03 22:10:00,BATTERY,SIMPLE,SIDEWALK,False,False,1532,15.0,28.0,25.0,08B,41.885687,-87.749516,2016,5,3,22
4,10508699,HZ250455,2016-05-03 22:00:00,THEFT,$500 AND UNDER,RESIDENCE,False,True,1523,15.0,28.0,25.0,06,41.886297,-87.761751,2016,5,3,22